html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: #000000 url(../img/loading.gif) center center no-repeat;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 20px;
	height: 100%;
}

#comingsoon span {
	display: none;
}

#comingsoon {
	width: 149px;
	height: 149px;
	position: absolute;
	display: block;
	top: 0px;
	right: 0px;
	border: 0;
	background: url(../img/comingsoon.png);
}

.consentButton i{
  color: #fff;
  font-size: 5vmin;
  font-weight: 700;
  position: absolute;
  left: 5px;
	top: 5px;
	margin: 0;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}

.consentButton i:hover{
  color: #00ff03 ;
  font-size: 6vmin;
  font-weight: 700;
  position: absolute;
  left: 5px;
	top: 5px;
	margin: 0;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}

/*.BUTTON{
    font-weight: 600;
		position: absolute;
    text-transform: none;
    background: #161515;
    background: #ffeec0;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    color: #000000;
    padding: 1em 1em;
    cursor: pointer;
    font-size: .8em;
    transition: box-shadow .3s ease;
}
Alternate button option
*/

#wmp-container {
	width: 149px;
	height: 149px;
	position: absolute;
	display: block;
	top: 0px;
	right: 0px;
	border: 0;
}

#options {
	width: 150px;
	position: absolute;
	display: none;
	left: 30px;
	top: 60px;
	background-color: rgba(0,0,0,0.2);
	border-top: 1px solid rgba(255,255,255,0.4);
	padding: 10px;
}

.optionText {
	font: 15px Georgia;
}

a {
	color: #aaa;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.bull {
	padding: 0 5px;
	color: #555;
}

/*
#title {
	position: absolute;
	top: 20px;
	width: 270px;
	left: 20px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 3px;
	font: 20px Georgia;
	padding: 10px;
}
*/

#donate span {
	display: none;
}

#donate {
	position: absolute;
	display: block;
	bottom: 10px;
	right: 5px;
	border: 0;
}



/*About Menu*/


.about .sidebar_menu{
  position: fixed;
	z-index: 2;
  height: 100%;
  width: 90%;
  left: -95%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: all 0.3s linear;
}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
	background: black;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
  color: #00ff03;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: 45%;
  line-height: 60px;
  text-decoration: none;
}
.sidebar_menu .paragraph{
  position: absolute;
	text-align: center;
	line-height: 25px;
  top: 20%;
	left: 20%;
	right: 20%;
	font-weight: bold;
	font-size: 25px;
	color: #fff;
	text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px #00ff03;
}

.sidebar_menu .paragraph a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.sidebar_menu .paragraph a:hover{
  border-left: 1px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .social_media{
  position: absolute;
  left: 47%;
  transform: translateX(-50%);
  bottom: 20px;
  list-style: none;
  cursor: pointer;
}
.sidebar_menu .social_media i{
  text-decoration: none;
  padding: 0 5px;
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
}
.sidebar_menu .social_media i:hover{
  opacity: 1;
  transition: all 0.2s linear;
  transform: scale(1.01);
}
#check{
  display: none;
}
.about .btn_one i{
  color: #fff;
  font-size: 5vmin;
  font-weight: 700;
  position: absolute;
  left: 5px;
	bottom: 5px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}
 .sidebar_menu .btn_two i{
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 6vmin;
	color: #00ff03 ;
}
.btn_two i:hover{
  font-size: 30px;
	color: #d23b3b;
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}



/*
Nav CSS
*/
.nav{
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav nav {
	margin: 0;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0px;
	width: 70%;
	height: 7%;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 #00ff03;
}
nav a {
	line-height: normal;
	height: 100%;
	font-size: 3vmin;
	display: inline-block;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	align-items: center;
  justify-content: center;
	color: white;
	cursor: pointer;
}

nav a:nth-child(1) {
	width: 20%;
}
nav a:nth-child(2) {
	width: 20%;
}
nav a:nth-child(3) {
	width: 20%;
}
nav a:nth-child(4) {
	width: 20%;
}
nav a:nth-child(5) {
	width: 20%;
}
nav a:nth-child(1):hover {
	background-color: #1abc9c;
	border-radius: 8px;
}
nav a:nth-child(2):hover {
	background-color: #e74c3c;
}
nav a:nth-child(3):hover {
	background-color: #3498db;
}
nav a:nth-child(4):hover {
	background-color: #9b59b6;
}
nav a:nth-child(5):hover {
	background-color: #e67e22;
	border-radius: 8px;
}
