html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: #000000 url(../img/loading.gif) center center no-repeat;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 20px;
	height: 100%;
}

#options {
	width: 150px;
	position: absolute;
	display: none;
	left: 30px;
	top: 60px;

	background-color: rgba(0,0,0,0.2);
	border-top: 1px solid rgba(255,255,255,0.4);
	padding: 10px;
}

.optionText {
	font: 15px Georgia;
}

a {
	color: #aaa;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.bull {
	padding: 0 5px;
	color: #555;
}

/*
#title {
	position: absolute;
	top: 20px;
	width: 270px;
	left: 20px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 3px;
	font: 20px Georgia;
	padding: 10px;
}
*/

#donate span {
	display: none;
}

#donate {
	position: absolute;
	display: block;
	bottom: 10px;
	right: 5px;
	border: 0;
}



/*About Menu*/
.about{
  position: relative;
  background: url('side.jpeg') right no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.about .sidebar_menu{
  position: fixed;
  height: 100%;
  width: 90%;
  left: -95%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: all 0.3s linear;
}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
	background: black;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: 45%;
  line-height: 60px;
  text-decoration: none;
}
.sidebar_menu .paragraph{
  position: absolute;
	text-align: center;
	line-height: 25px;
  top: 20%;
	left: 20%;
	right: 20%;
	font-weight: bold;
	font-size: 25px;
	color: #00ff03 ;
}

.sidebar_menu .paragraph a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.sidebar_menu .paragraph a:hover{
  border-left: 1px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .social_media{
  position: absolute;
  left: 47%;
  transform: translateX(-50%);
  bottom: 20px;
  list-style: none;
  cursor: pointer;
}
.sidebar_menu .social_media i{
  text-decoration: none;
  padding: 0 5px;
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
}
.sidebar_menu .social_media i:hover{
  opacity: 1;
  transition: all 0.2s linear;
  transform: scale(1.01);
}
#check{
  display: none;
}
.about .btn_one i{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
	bottom: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}
 .sidebar_menu .btn_two i{
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 50px;
	color: #00ff03 ;
}
.btn_two i:hover{
  font-size: 30px;
	color: #d23b3b;
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}



/*
Nav CSS
*/
.nav{
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav nav {
	margin: 27px auto 0;

	position: fixed;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
nav a:nth-child(1) {
	width: 100px;
}
nav a:nth-child(2) {
	width: 110px;
}
nav a:nth-child(3) {
	width: 100px;
}
nav a:nth-child(4) {
	width: 160px;
}
nav a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}
